$theme-colors: (
    "primary": blue,
    "dark": #000000
);

@import "node_modules/bootstrap/scss/bootstrap";

// body {
//     padding-top:56px;
// }
.footer {
    margin-top:3rem;
}
.navbar {
    border-bottom:1px solid #eee;
}


header{
    display: flex;
    background-color: #E7F5F6;
}
header h5{
    color: #8B8F8F;
}
.user-form input{
    margin: .5rem;
    border: none;
    border-bottom: 1px solid #F4F4F4;
    min-width: 18rem;
}

.user-form button{
    border: .5px solid #1999AD;
    margin: 1.2rem;
    border-radius: .5rem;
    background-color: #1999AD;
    // border-color: #1999AD;
    color: white;
}

.user-form a{
    color: #8B8F8F;
    text-decoration: none;
    margin-top: 1rem;
}

.Google-button{
    background-color: transparent !important;
    color: black !important;
}

.homepage{
    height: 75vh;
}


.button-panel button{
    margin: .3rem;
    background-color: transparent;
    border: 1px solid #1999AD;
    text-decoration: none;
    color: black;
    padding: .5rem .8rem;
    border-radius: 1rem;
}

footer{
    background-color: #F4F4F4;
}